body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}
 a {
    text-decoration: none;
 }
 ul {
    list-style: none;
 }
 .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5 ;
 }
 .logo span {
    color: #2e2f42;
 }
 .nav-page{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
 }
 .nav-page:hover{
    color: #404bbf;
 }
 .nav-page:focus{
    color: #404bbf;
 }
 .page-contact{
    font-family: "Roboto", sans-serif;
    font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }
 .page-contact:hover{
    color:#404bbf;;
}
 .page-contact:focus{
    color:#404bbf;
 }
 .title{
    font-family:"Roboto", sans-serif;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        background: #2e2f42;
 }

.main-page-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}
.main-page-botton:hover{
    background: #404bbf;
}
.main-page-botton:focus{
    background: #404bbf;
}
.title-2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.text-1{
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team{
background-color: #F4F4FD
}
#contacts,
#portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;

}

.foot-part{
    background-color:#2e2f42;   
}
.text-footer{
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#F4F4FD ;
}